@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Roboto',sans-serif;
    background-position: center;
    background-size: contain;
}
div{
    display: block;
}
.rol{
    width: auto;
    height: auto;
}
.graficlogo{
    margin-top: 20px;
    margin-left: 55px;
    padding-bottom: 18px;
}
img{

    width: 184px;
    height: 45px;

}
header{

    position:fixed;
    width: 100%;
    top:0;
    z-index:1000;
    background-color:#007765;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.mnu_top{

    margin-right: 8px;
    list-style-type: none;
}
.mnu_top:hover{
    font-size:28px;
}
li{
    display: inline-block;
}
a{
    display: block;
    color: #fff;
    font-size: 24px;
    text-decoration: none;

}
.pipernet{
    text-align: center;
    font-size: 72px;

    color:#fff;
}
.theproblem{
    background-color: #EEEEEE;
    text-align: center;
    padding: 92px;
}
h1{
    text-align: center;
    color: #007765;
    font-size: 64px;
}
.section{

    background: url(https://piedpiper-by-kostia.netlify.app/images/img_1/image-8.png) center no-repeat;

    background-size: cover;
    margin-top: 84px;
    padding: 176px;
}
.section2{
    background: url(https://piedpiper-by-kostia.netlify.app/images/img_1/image-9.png) center no-repeat;
    background-size: cover;
    padding: 142px;
}
.block2{
    text-decoration: none;
    font-size: 32px;
    display: inline-block;

}

.block3{
    font-size: 48px;
    color:#fff;
    text-align: center;
}
.logo2{
    float: left;
    height: 115px;
    width: 115px;
}

.text_2{
    font-size: 32px;
}
.Introducing{
    padding: 92px;
}
.section3{
    background-color: #EEEEEE;
    text-align: center;
    padding: 48px;
    background-size: cover;

}
table{
    text-align: center;
    background-size: cover;
}
.pic1{
    width: auto;
    height: auto;
}
.Richard{
    font-size:24px;
    color: #007765;
}
.notRichard{
    font-size:18px;
    color: #000000;
}
.text45{
    width: 199px;
    height: 51px;
}
td{
    justify-content: space-between;
    margin: 212px;
}
.members {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .member {
    text-align: center;
    flex-basis: 33%;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  
  .member-name {
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    font-size: 24px;
    color: #007765;
  }
  
  .member-role {
    font-style: italic;
    font-size: 18px;
  }
